.main-rectorana {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  margin-left: 4%;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 3.4%;
}
.rectorana-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 1px solid #d5d3d3;
  border-radius: 10px;
}

.rectorana-column-1 {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
  border-right: 1px solid #d5d3d3;
}
.rectorana-column-2 {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.rectorana-column-1-row-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 10%;
  align-items: start;
}
.rector-header {
  color: grey;
  font-size: 20px;
  margin-left: 3%;
  font-weight: 600;
  margin-top: 2%;
}
.rector-desc {
  color: grey;
  font-size: 14px;
  margin-left: 3%;
  font-weight: 500;
}
.rectorana-column-1-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 96%;
  height: 20%;
  padding: 2%;
  align-items: start;
}

.rectorana-column-1-row-2:first-child {
  background-color: green;
}

.little-card {
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #d5d3d3;
}
.little-card-first {
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 100%;
  border-radius: 10px;
  background-color: #1fa54e;
  border: 1px solid #d5d3d3;
}
.rectorana-column-1-row-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 96%;
  padding: 2%;
  height: 61%;
  align-items: start;
}

.r-c-1-r-3-c {
  display: flex;
  flex-direction: column;
  width: 44.6%;
  height: 93%;
  padding: 2%;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #d5d3d3;
}
.rectorana-column-2-row-1 {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 60%;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #d5d3d3;
}

.rectorana-column-2-row-2 {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 30%;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #d5d3d3;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 96%;
  height: 10%;
  padding: 2%;
  align-items: center;
}
.card-header span {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 14px;
  color: grey;
  font-weight: 500;
}
.card-header button {
  background-color: transparent;
  border: none;
  color: grey;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.card-content {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  width: 96%;
  height: 60%;
  padding: 2%;
  align-items: start;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  text-align: start;
}
.card-content span {
  margin-left: 5px;
  color: grey;
  font-size: 14px;
}

.card-content span span {
  color: #5d5d5d;
  padding: 0;
  margin: 0;
  font-size: 24px;
}

.card-content button {
  background-color: transparent;
  border: none;
  color: grey;
  font-size: 10px;
  margin-left: 2px;
  cursor: pointer;
}
.card-content button:hover {
  color: #5d5d5d;
}

.card-header-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 96%;
  height: 10%;
  padding: 2%;
  align-items: center;
}
.card-header-first span {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 14px;
  color: white;
  font-weight: 500;
}
.card-header-first button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.card-content-first {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  width: 96%;
  height: 60%;
  padding: 2%;
  align-items: start;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  text-align: start;
}
.card-content-first span {
  margin-left: 5px;
  color: white;
  font-size: 14px;
}

.card-content-first span span {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 24px;
}

.card-content-first button {
  background-color: transparent;
  border: none;
  color: #e3e3e3;
  font-size: 10px;
  margin-left: 2px;
  cursor: pointer;
}
.card-content-first button:hover {
  color: white;
}

.r-c-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  align-items: center;
}
.r-c-header span {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 14px;
  color: grey;
  font-weight: 500;
}
.r-c-header button {
  background-color: transparent;
  border: none;
  color: grey;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.chart-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 10%;
  align-items: center;
}

.chart-header span {
  color: grey;
  font-size: 16px;
  font-weight: 500;
}

.chart-header button {
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 7px;
  border: none;
  color: grey;
  font-weight: bold;
  cursor: pointer;
  width: 60px;
  height: 30px;
}
.chart-header button img {
  width: 30px;
  height: 30px;
}

.ilan-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  height: 10%;
  padding: 2%;
  align-items: center;
}
.ilan-header span {
  color: grey;
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
}

.ilan-header button {
  background-color: transparent;
  border: none;
  color: grey;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.r-c-content {
  display: grid;
  grid-template-columns: 1fr;
  width: 96%;
  height: 90%;
  padding: 2%;
  align-items: start;
  justify-content: start;
  text-align: start;
  overflow-y: auto;
}

.r-c-content li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  height: 40px;
  padding: 2%;
  align-items: center;
  border: 1px solid #d5d3d3;
  border-radius: 10px;
}

.r-c-content li img {
  width: 40px;
  height: 40px;
}

.r-c-content li span {
  color: grey;
  font-size: 14px;
  font-weight: 500;
  margin-left: 5px;
}
.r-c-content li button {
  background-color: transparent;
  border: none;
  color: grey;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.r-c-content li button img {
  width: 25px;
  height: 25px;
}
