.finish-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-left: 3%;

}

.table-container {
    position: relative;
    max-height: 550px;
    overflow-y: auto;
    scrollbar-width: none;
    overflow-x: hidden;
    border: 1px solid #d0d0d0;
    font-family: 'DejaVu Sans', Arial, sans-serif;
}

.finish-table {
    width: 100%;
    /* Tablo genişliği kapsayıcıya sığmalı */
    border-collapse: collapse;
    /* Sınırların birleşmesi */
}

.finish-table th,
.finish-table td {
    border: 1px solid #d0d0d0;
    padding: 10px;
    text-align: left;
    font-size: 12px;
}

.finish-table strong {
    margin-right: 5px;
}

.finish-table .table-header {
    background-color: #bcbcbc;
}

/* Tablolar için genel stil */
.finish-table {
    width: 100%;
    border-collapse: collapse;
    /* Hücre kenarlarını birleştir */
}

/* Hücreler */
.finish-table td,
.finish-table th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    word-wrap: break-word;
    /* Uzun metinleri sar */
}

/* Sütun genişlikleri */
.finish-table td:first-child {
    width: 30%;
}

.finish-table td:nth-child(2) {
    width: 50%;
}

.finish-table td:last-child {
    width: 20%;
}

.finish-table td {
    text-align: start;
    vertical-align: top;
    min-height: 40px;
    height: 100%;
}

/* rowSpan'li hücreler için özel stil */
.finish-table td[rowspan] {
    vertical-align: middle;
    background-color: #f9f9f9;
}

/* Başlık */
.finish-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

@media (max-width: 1400px) {
    .finish-main {
        display: flex;
        flex-direction: column;
        width: 88%;
        padding: 20px;
        margin-left: 4%;

    }
}

.finish-button {
    display: flex;
    justify-content: center;
    border: none;

    background-color: #1FA54E;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 150px;
    margin-left: 1%;
    transition: all 0.5s ease;
}

.download-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0%;
    right: 0%;
    border: none;
    background-color: #1FA54E;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.download-button:hover {
    background-color: #25c85e;
    color: white;
}

.download-button img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.finish-button:hover {
    background-color: #25c85e;
    color: white;

}

.finish-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: end;

}