/* Genel stil ayarları */
.yayinlar-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-left: 4%;

}

/* Row 1 - Butonlar */
.yayinlar-main-row-1 {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.yayinlar-main-row-1 .yayinlar-btn {
    padding: 10px;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #639768;
}



.dark .yayinlar-main-row-1 .yayinlar-btn {
    background-color: #1FA54E;
    color: #333;
    border: none;
    transition: all 0.3s ease;
}

.yayinlar-btn.active {
    background-color: #1FA54E;
    /* Seçili durum rengi */
    color: white;

}

.dark .yayinlar-btn.active {
    background-color: #353535;
    /* Seçili durum rengi */
    color: grey;
}

/* Row 2 - Arama, Filtreleme, Yenileme */
.yayinlar-main-row-2 {
    display: flex;
    flex-direction: row;


    margin-bottom: 20px;
}

.yayinlar-main-row-2 .yayinlar-search-input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 10px;
    width: 40%;
    transition: all 0.3s ease;
    outline: none;
}

.dark .yayinlar-search-input {
    background-color: #1c1c1c;
    color: #ccc;
    border: 1px solid #2a2a2a;
}



.yayinlar-main-row-2 .yayinlar-filter-btn {
    position: relative;
    width: 10%;
    margin-left: 2%;
    background-color: #ffffff;
    border: 1px solid #eaeafa;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}



.yayinlar-main-row-2 .yayinlar-filter-btn:hover {
    background-color: #eaeafa;
}

.yayinlar-main-row-2 .yayinlar-filter-btn:hover .yayinlar-dropdown {
    display: block;

}

.yayinlar-main-row-2 .yayinlar-refresh-btn {
    background-color: white;
    border: 1px solid #eaeafa;
    width: 5%;
    margin-left: 12px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: all 0.3s ease;
    background-color: #1FA54E;
    transition: all 0.3s ease;

}

.dark .yayinlar-refresh-btn {
    background-color: #2a2a2a;
    border: 1px solid #212121;
    color: rgb(103, 103, 103);
}



.yayinlar-main-row-2 .yayinlar-refresh-btn:active {
    background-color: #6e8678;

}

.yayinlar-main-row-2 .yayinlar-pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 40%;
    margin-bottom: 12px;

}

.yayinlar-main-row-2 .yayinlar-pagination button {

    font-size: 35px;
    background-color: #f7f9fc;
    border: none;
    color: #1FA54E;
    cursor: pointer;
}



.dark .yayinlar-pagination button {
    background-color: #1c1c1c;
}

.dark .yayinlar-pagination span {
    color: rgb(103, 103, 103);
}

.yayinlar-main-row-2 .yayinlar-pagination button:disabled {
    color: #d0d0d0;
    cursor: not-allowed;
}

/* Row 3 - Tablo */
.yayinlar-main-row-3 {
    width: 98%;
    max-height: 500px;
    margin-right: 3%;
    min-height: 290px;

}

.yayinlar-main-row-3 table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #eaeafa;
    border-radius: 10px;
    transition: all 0.3s ease;
    /* Dış kenar çizgisi */
}

.yayinlar-main-row-3 thead tr {
    color: #ffffff;
}

.dark table {
    border: 1px solid #212121;
}

.yayinlar-main-row-3 table th,
.yayinlar-main-row-3 table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    border: none;
}



.yayinlar-main-row-3 table th {
    background-color: #1FA54E;
    border-bottom: 1px solid #ddd;
}

.dark table th {
    background-color: #2a2a2a;
    color: rgb(103, 103, 103);
    border-bottom: 1px solid #212121;
}

.yayinlar-main-row-3 tbody tr td {
    font-size: 12px;
    font-weight: 500;
    color: gray;


}

.dark .yayinlar-main-row-3 tbody tr td {
    background-color: #212121;
}

.yayinlar-main-row-3 button {
    padding: 10px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #1FA54E;
    font-size: 16px;
    margin-left: 5%;
    border-radius: 5px;

    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.yayinlar-main-row-3 button:hover {
    color: #148c2e;

}

.dark .yayinlar-main-row-3 button {
    background-color: #212121;
    border: 1px solid #212121;
}

/* Dropdown placeholder */
.yayinlar-main-row-2 .yayinlar-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    top: 100%;
    left: 0;
}

/* Yayinlar.css */
.already-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4caf50;
    /* Başarı mesajları için */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.5s forwards, fadeOut 0.5s 2s forwards;
    z-index: 1000;
}

.already-popup.error {
    background-color: #f44336;
    /* Hata mesajları için */
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

@media (max-width: 1400px) {
    .yayinlar-main {
        display: flex;
        flex-direction: column;
        width: 88%;
        padding: 20px;
        margin-left: 4%;

    }
}

.item-group {
    text-decoration: underline;
}

.item-group input {
    width: 20px;
}