.applicationdetail-main {
  width: 100%;
  height: 642px;
}

.detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  gap: 10px;
  margin-top: 15px;
}
.detail-column-1 {
  position: relative;
  display: flex; /* Ekledim: İçerik hizalaması için */
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  height: 120px; /* Sabit yükseklik */
  padding: 2%;
  align-items: start;
  border: 1px solid #d5d3d3;
  border-radius: 10px;
  flex-shrink: 0; /* Ekledim: Elemanların küçülmesini önler */
  gap: 10px;
}

.detail-column-1 img {
  width: 40px;
  height: 40px;
}
.detail-column-1 span {
  display: flex;
  align-items: start;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  max-width: 20%;
  color: grey;
  font-size: 12px;
}
.detail-header {
  color: grey;
  font-size: 12px;
  text-align: start;
  width: 88%;
}

.detail-colum-2 {
  position: relative;
  display: flex; /* Ekledim: İçerik hizalaması için */
  flex-direction: row;
  justify-content: space-between;
  width: 89%;
  height: 55%; /* Sabit yükseklik */
  align-items: start;

  border-radius: 10px;
  flex-shrink: 0; /* Ekledim: Elemanların küçülmesini önler */
  gap: 10px;
}

.detail-column-2-r-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
  width: 60%;
  height: 100%;
  border-radius: 10px;

  overflow: auto;
}

.detail-column-2-r-1 li {
  display: flex; /* Ekledim: İçerik hizalaması için */
  flex-direction: row;
  justify-content: space-between;
  width: 94%;
  height: 51px; /* Sabit yükseklik */
  padding: 2%;
  align-items: center;
  border: 1px solid #d5d3d3;
  border-radius: 10px;
  flex-shrink: 0; /* Ekledim: Elemanların küçülmesini önler */
}

.detail-column-2-r-1 li img {
  width: 40px;
  height: 40px;
}
.detail-column-2-r-1 li span {
  color: grey;
  font-size: 12px;
}
.detail-column-2-r-1 li button {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.detail-column-2-r-1 li button img {
  width: 25px;
  height: 25px;
}

.detail-column-2-r-2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  width: 35%;
  height: 97%;
  border-radius: 10px;
  overflow: auto;
  border: 1px solid #d5d3d3;
}
