.help-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-left: 4%;
    align-items: start;
    justify-content: start;
    height: 565px;

}

.help-image {
    width: 95%;
    height: 96%;
    overflow: hidden;
    border: 3px solid #739e5b;
    border-radius: 10px;
}

.nxt-img-button {
    position: absolute;
    bottom: 0;
    right: 80px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1FA54E;
    color: #fff;
    cursor: pointer;
}